body {
    margin: 0;
}

.SideMenu {
    background-color: lightgray;
    height: 100%;
    width: 15%;
    position: fixed;
}

div.SideMenu ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

div.SideMenu ul li {
    padding: 5% 10%;
    text-decoration: none;
}

div.SideMenu a {
    text-decoration: none;
    color: black;
}

div.SideMenu li.active {
    background-color: green;
}

div.SideMenu li.active a {
    color: white;
}

div.SideMenu li:hover:not(.active) {
    background-color: #555;
}

div.SideMenu li:hover:not(.active) a {
    color: white;
}

.Container {
    position: absolute;
    left: 15%;
    top: 15%;
    right: 0;
    bottom: 10%;
    background: #F9FAF8;
    color: black;
    text-align: center;
    overflow-y: scroll;
}

.Container button {
    margin: 50px;
    font-size: large;
    font-weight: bold;
    padding: 10px 30px;
    color: #384a63;
}

.Container button:active {
    transform: translateY(5px);
}

.Container fieldset {
    background-color: beige;
    margin: auto;
    padding: 20px;
    max-width: 750px;
}

.Container label {
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Container legend {
    font-size: xx-large;
    font-family: cursive;
}

#submit,
#reset {
    padding: 10px 30px;
    margin: 10px;
}