body {
    margin: 0;
}

.SideMenu {
    background-color: lightgray;
    height: 100%;
    width: 15%;
    position: fixed;
}

div.SideMenu ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

div.SideMenu ul li {
    padding: 5% 10%;
    text-decoration: none;
}

div.SideMenu a {
    text-decoration: none;
    color: black;
}

div.SideMenu li.active {
    background-color: green;
}

div.SideMenu li.active a {
    color: white;
}

div.SideMenu li:hover:not(.active) {
    background-color: #555;
}

div.SideMenu li:hover:not(.active) a {
    color: white;
}

.Container {
    position: absolute;
    left: 15%;
    top: 15%;
    right: 0;
    bottom: 10%;
    background: #F9FAF8;
    color: black;
    text-align: center;
    overflow-y: scroll;
}

.Container p {
    padding: 2rem;
    font-size: large;
}

.cardTitle {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-top: -10px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
}

.cardContent {
    border-radius: 15px;
    border-style: solid;
    border-color: #384a63;
    width: 125px;
    height: 125px;
    margin-bottom: 5px;
}

.cards img {
    border-radius: 15px;
}

.cardText {
    width: 125px;
    text-align: center;
}

.quotation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #dfe1e6;
    font-style: italic;
    padding: 20px;
    margin-top: 30px;
}

p.quote {
    width: 70%;
    font-size: larger;
}

.quoteAuthor {
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    width: 80%;
}
